<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>painel.cc - Estatisticas</title>

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/docs.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/table.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/popup.css">
  <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/dist/semantic.min.css">

  <!--- Component JS -->
  <script type="text/javascript" src="/static/semantic/jquery.min.js"></script>
  <script type="text/javascript" src="/static/semantic/tablesort.js"></script>
  <script type="text/javascript" src="/static/semantic/docs.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/semantic.js"></script>


  <script src="../assets/library/iframe-content.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/popup.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/transition.js"></script>

  <!--- Show Names -->
  <script src="../assets/show-examples.js"></script>

  <!--- Example CSS -->
  <style>
  body {
    padding: 1em;
  }
  .ui.table {
    table-layout: fixed;
  }
  
  .asubmit {
   background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
  }
 
  </style>

  <!--- Example Javascript -->
<script type="text/javascript">
$('.sortable.table').tablesort();
  </script>
</head>

<body>

{% include "cabecalho.html" %}


<h4 class="ui top attached block header">
  <div class="ui breadcrumb">
    <a class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Gest&atilde;o de Alvos</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Estat&iacute;sticas de Alvos</div>
  </div>  
</h4>

<div class="ui bottom attached segment">

{% if message == 'sucesso' %}
{% include "producao/sucesso.html" %}
{% endif %}

<table class="ui celled table">
  <thead>
    <tr>
      <th>Inspetor</th>
      <th>Tempo M&eacute;dio (dias)</th>
      <th>Tempo M&aacute;ximo (dias)</th>
      <th>Quantidade de Alvos N&atilde;o Realizados</th>      
    </tr>
  </thead>
  <tbody>
  {% for report in outputs %}
   <tr>
      <td>
      <form method="POST" action="/producao/alvos_despachados/">
      {% csrf_token %}
        <input type="hidden" name="filtrar_inspetor" value="True">
        <input type="hidden" name="inspetor" value="{{ report.id }}">        
      	<input type="submit" class="asubmit" value="{{ report.inspetor }}">
      </form>
      </td>
      <td>{{ report.media }}</td>
      <td>{{ report.maior }}</td>
      <td>{{ report.quantidade }}</td>
   </tr>
{% endfor %}
  </tbody>
   <tfoot>
    <tr><th colspan="4">
      <div class="ui right floated pagination menu">        
        <a class="item">1</a>        
      </div>
    </th>
  </tr></tfoot>
</table>
     </div>

</body>
</html>