<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>painel.cc - Estatisticas</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="consumer_detail_new_arquivos/a"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/core.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery_002.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/actions.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/urlify.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/prepopulate.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/xregexp.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/inlines.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/calendar.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/DateTimeShortcuts.js"></script>

{% include "cemar_celpa.html" %}

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-mm model-consumer change-form" data-admin-utc-offset="-10800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="http://painel.cc/">painel.cc</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Bem-vindo(a),
                <strong>{{request.user.username}}</strong>.
            
            
                
                    <a href="http://painel.cc/">Ver o site</a> /
                
           
                                                                      
                <a href="http://painel.cc/admin/password_change/">Alterar senha</a> /                
                <a href="http://painel.cc/admin/logout/">Encerrar sessão</a>            
        </div>        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Estatistica de alvos</h1>
        <div id="content-main">

<div>


<fieldset class="module">
<h2>Relatorio</h2> 

<div class="results">
<table width="100%" id="result_list">
<thead>
<tr>
<th scope="col" class="sortable column-name">
   <div class="text">Inspetor</div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-name">
   <div class="text">Tempo Medio (dias)</div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-meter">
   <div class="text">Tempo Maximo (dias)</div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-meter">
   <div class="text">Quantidade de Alvos Nao Realizados</div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for report in outputs %}
   <tr>
      <td>{{ report.inspetor }}</td>
      <td>{{ report.media }}</td>
      <td>{{ report.maior }}</td>
      <td>{{ report.quantidade }}</td>
   </tr>
{% endfor %}
</fieldset>         
</tbody>
</table>
</div>


</div></body></html>
