<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>painel.cc - Modificar Alteracoes Medidor</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="consumer_detail_new_arquivos/a"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/core.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery_002.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/actions.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/urlify.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/prepopulate.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/xregexp.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/inlines.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/calendar.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-mm model-consumer change-form" data-admin-utc-offset="-10800">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="http://painel.cc/">painel.cc</a></h1>
        </div>                
        <div id="user-tools">
                Bem-vindo(a),
                <strong>{{request.user.username}}</strong>
                    <a href="http://painel.cc/">Ver o site</a> /
                <a href="http://painel.cc/admin/password_change/">Alterar senha</a> /
                <a href="http://painel.cc/admin/logout/">Encerrar sessão</a>
        </div>
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
<a href="http://painel.cc/">Início</a>
› <a href="http://painel.cc/consumer/">Consumidores</a>
› {{ consumer.name }}
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Dados Consumidor</h1>
        <div id="content-main">
  <fieldset class="module aligned ">
        <div class="form-row field-installation">
                <div>
                        <label for="id_installation">Instalacao:</label>
                            {{ report.consumer.installation }}
                </div>
        </div>
        <div class="form-row field-name">
                <div>
                        <label for="id_name">Nome:</label>
                         {{ report.consumer.name }}
                </div>
        </div>
        <div class="form-row field-region">
                <div>
                        <label for="id_region">Data Alteracao:</label>
                      {{ report.data_alteracao|date:"d/m/Y h:m" }}
                </div>
        </div>
        <div class="form-row field-revenue">
                <div>
                        <label for="id_revenue">Leitor:</label>
                            {{ report.leitor }}
                </div>
        </div>
       <div class="form-row field-revenue">
                <div>
                        <label for="id_revenue">Code:</label>
                            {{ report.code }}
                </div>
        </div>
       <div class="form-row field-revenue">
                <div>
                        <label for="id_revenue">Observacao:</label>
                            {{ report.observacao }}
                </div>
        </div>
        <form action="" method="POST">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>

</fieldset>


</tbody>
</table>
</div>


</div></body></html>
