<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>painel.cc - Produtividade</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="consumer_detail_new_arquivos/a"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/core.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/jquery_002.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/actions.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/urlify.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/prepopulate.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/xregexp.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/inlines.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/calendar.js"></script>
<script type="text/javascript" src="consumer_detail_new_arquivos/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-mm model-consumer change-form" data-admin-utc-offset="-10800">


<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="http://painel.cc/">painel.cc</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Bem-vindo(a),
                <strong>{{request.user.username}}</strong>.
            
            
                
                    <a href="http://painel.cc/">Ver o site</a> /
                
           
                                                                      
                <a href="http://painel.cc/admin/password_change/">Alterar senha</a> /                
                <a href="http://painel.cc/admin/logout/">Encerrar sessão</a>            
        </div>        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Produtividade</h1>
        <div id="content-main">



<h2>Todos os alarmes</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report %}
<tr>

{% for x in i %}
{% if x != i.0 %}
<td><a href="http://painel.cc/analysis/ver_produtividade/{{i.0}}/{{forloop.counter0|stringformat:"02d"}}{{dias.0.month|stringformat:"02d"}}{{dias.0.year}}">{{x|upper}}</a></td>
{% else %}
<td>{{x|upper}}</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>

<h2>MM Versus Consumo (meta 7/dia)</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report_mm_versus_consumo %}
<tr>
   {% for x in i %}
      {% if i.0 == 'clai' and x != i.0   %}
         {% if x < 7 %}
	         <td style="color:red">{{x|upper}}</td>
         {% else %}
		<td style="color:green">{{x|upper}}</td>
         {% endif %}
      {% else %}
         <td>{{x|upper}}</td>
      {% endif %}
   {% endfor %}
</tr>
{% endfor %}

</table>


<h2>Corrente Zerada (meta 13/dia)</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report_corrente_zerada %}
<tr>
   {% for x in i %}
      {% if  i.0 == 'allas' and x != i.0  or  i.0 == 'clai' and x != i.0   %}
         {% if x < 13 %}
	         <td style="color:red">{{x|upper}}</td>
         {% else %}
		<td style="color:green">{{x|upper}}</td>
         {% endif %}
      {% else %}
         <td>{{x|upper}}</td>
      {% endif %}
   {% endfor %}
</tr>
{% endfor %}

</table>

<h2>Tensao Zerada (meta 5/dia)</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report_tensao_zerada %}
<tr>
   {% for x in i %}
      {% if  i.0 == 'allas' and x != i.0  or  i.0 == 'clai' and x != i.0   %}
         {% if x < 5 %}
	         <td style="color:red">{{x|upper}}</td>
         {% else %}
		<td style="color:green">{{x|upper}}</td>
         {% endif %}
      {% else %}
         <td>{{x|upper}}</td>
      {% endif %}
   {% endfor %}
</tr>
{% endfor %}
</table>

<h2>Alteracoes de medidor</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report_alteracoes_medidor %}
<tr>
{% for x in i %}
<td>{{x|upper}}</td>
{% endfor %}
</tr>
{% endfor %}

</table>

<h2>Queda de consumo (meta 73/dia)</h2>

<table width="100%">
<tr>
<td>
<b>{{ dias.0|date:"F" }}</b>
</td>
{% for i in dias %}
   <td><b>{{ i|date:"d" }}</b></td>
{% endfor %}
   </tr>

{% for i in report_queda_de_consumo %}
<tr>
   {% for x in i %}
      {% if  i.0 == 'allas' and x != i.0  or  i.0 == 'clai' and x != i.0   %}
         {% if x < 73 %}
	         <td style="color:red">{{x|upper}}</td>
         {% else %}
		<td style="color:green">{{x|upper}}</td>
         {% endif %}
      {% else %}
         <td>{{x|upper}}</td>
      {% endif %}
   {% endfor %}
</tr>

{% endfor %}

</table>

</div></div></div></body></html>
