<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>painel.cc - Tens&atilde;o Zerada</title>

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/docs.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/table.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/popup.css">
  <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/dist/semantic.min.css">

  <!--- Component JS -->
  <script type="text/javascript" src="/static/semantic/jquery.min.js"></script>
  <script type="text/javascript" src="/static/semantic/tablesort.js"></script>
  <script type="text/javascript" src="/static/semantic/docs.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/semantic.js"></script>


  <script src="../assets/library/iframe-content.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/popup.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/transition.js"></script>

  <!--- Show Names -->
  <script src="../assets/show-examples.js"></script>

  <!--- Example CSS -->
  <style>
  body {
    padding: 1em;
  }
  .ui.table {
    table-layout: fixed;
  }
 
  </style>

  <!--- Example Javascript -->
<script type="text/javascript">
$('.sortable.table').tablesort();
  </script>
</head>

<body>

{% include "cabecalho.html" %}


<h4 class="ui top attached block header">
  <div class="ui breadcrumb">
    <a class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Alvos MM</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Tens&atilde;o Zerada</div>
  </div>  
</h4>

<div class="ui bottom attached segment">

{% if message == 'sucesso' %}
{% include "producao/justificado_sucesso.html" %}
{% endif %}

<table class="ui celled table">
  <thead>
    <tr>
      <th>Instala&ccedil;&atilde;o</th>
      <th>Nome</th>
      <th>Faturamento</th>
      <th>In&iacute;cio</th>
      <th>Fim</th>
      <th>Recorr&ecirc;ncia</th>
      <th>Va</th>
      <th>Vb</th>
      <th>Vc</th>
    </tr>
  </thead>
  <tbody>
  {% for out in outputs %}
   <tr>
      <td><a href="/consumer/{{ out.consumer.id }}/detail">{{ out.consumer.installation }}</a></td>
      <td>{{ out.consumer.name }}</td>
      <td>{{ out.consumer.revenue }}</td>
      <td><a href="/consumer/{{out.consumer.id}}/mm/{{out.link_mm}}&qt1=Va&qt2=Vb&qt3=Vc">{{ out.inicio|date:"d/m/Y H:i" }}</a></td> 
      <td><a href="/consumer/{{out.consumer.id}}/mm/{{out.link_mm}}&qt1=Va&qt2=Vb&qt3=Vc">{{ out.fim|date:"d/m/Y H:i" }}</a></td>
      {% if tem_recorrencia %}
      <td><a href="/analysis/tensao_zerada/{{ out.consumer.id}}/recorrencia">{{ out.recorrencia }}</a></td>
      {% endif %}
      <td>{{ out.va }}</td>
      <td>{{ out.vb }}</td>
      <td>{{ out.vc }}</td>
      {% if not tem_recorrencia %}
      <td><a href="/analysis/form_tensao_zerada/?id={{out.id}}"><span class="analisarlink">Justificar</span></a></td>
      {% endif %}
   </tr>
   {% endfor %}
  </tbody>
   <tfoot>
    <tr><th colspan="9">
      <div class="ui right floated pagination menu">
        <a class="item">1</a>
      </div>
    </th>
  </tr></tfoot>
</table>
     </div>

</body>
</html>