<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>404</title>

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="/static/semantic/docs.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/table.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/popup.css">
  <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/dist/semantic.min.css">

  <!--- Component JS -->
  <script type="text/javascript" src="/static/semantic/jquery.min.js"></script>
  <script type="text/javascript" src="/static/semantic/tablesort.js"></script>
  <script type="text/javascript" src="/static/semantic/docs.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/semantic.js"></script>


  <script src="../assets/library/iframe-content.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/popup.js"></script>
  <script type="text/javascript" src="/static/semantic/dist/components/transition.js"></script>

  <!--- Show Names -->
  <script src="../assets/show-examples.js"></script>

  <!--- Example CSS -->
  <style>
  body {
    padding: 1em;
  }
  .ui.table {
    table-layout: fixed;
  }
 
  </style>

  <!--- Example Javascript -->
<script type="text/javascript">
$('.sortable.table').tablesort();
  </script>
</head>

<body>

{% include "cabecalho.html" %}

<h4 class="ui top attached block header">404 - P&aacute;gina n&atilde;o encontrada</h4>

<div class="ui bottom attached segment">

<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">
    Esta p&aacute;gina n&atilde;o foi encontrada
  </div>
  <p>Contate o administrador.</p>
</div>

</div>

</body>
</html>
