<div class="ui top attached block header" style="background-image: url('http://painel.cc/static/Capturar.PNG');height:55px;line-height:55px;">
   <span style="font-size:30px;color:#5475ae;">Clai.painel.cc</span>
</div>
<div class="bottom attached ui menu">
  <div class="header item">
   {{ company_session }}
  </div>
  <a class="item" href="/"><i class="home icon"></i> Home</a>
  <a class="item" href="/consumer/"><i class="search icon"></i> Buscar Consumidor</a>
  <div class="right menu">
    {% if arquivo %}
    <a class="item" href="/analysis/download?arquivo={{arquivo}}.xlsx"><i class="download icon" style="color:#87cbac;"></i> Download Planilha</a>
    {% endif %}
    {% if company_session != 'Equatorial' %}
    <a class="item" href="http://painel.cc/admin/password_change/"><i class="privacy icon" style="color:#91a6ff;"></i> Alterar Senha</a>
    <a class="item" href="http://painel.cc/admin/logout/"><i class="unlock icon" style="color:#ff5154;"></i> Encerrar sess&atilde;o</a>
    {% endif %}
  </div>
</div>